#albums {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #fff;
    overflow: hidden;
}

#albums h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: .1rem;
    font-size: 2rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 5rem;
}

#albums .album-content {
    margin-bottom: 3rem;
    text-align: center;
}

#albums .album-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#albums .album-content p {
    line-height: 1.5rem;
    letter-spacing: .1rem;
    color: rgb(129, 77, 17);
}

#albums .album-content p span {
    font-weight: bold;
}


#albums .album-content img {
    display: block;
    width: 100%;
    margin: auto;
    height: 45vh;
}

@media (min-width: 481px){

    #albums .album-content h3 {
        font-size: 1.8rem;
    }
    #albums .album-content p {
        font-size: 1rem;
    }

    #albums .album-content img {
        height: 65vh;
    }  
}

@media (min-width: 768px){
    #albums .album-content {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20vh;
        width: 95%;
    }

    #albums .album-content:nth-of-type(2){
        flex-direction: row-reverse;
    }

    #albums .album-content div {
        width: 50%;
        text-align: left;
    }

    #albums .album-content:nth-of-type(2) div{
        text-align: right;
    }

    #albums .album-content h3 {
        border-left: 3px solid rgb(245, 241, 241);
        padding-left: 1.2rem;
    }

    #albums .album-content:nth-of-type(2) h3 {
        border-left: none;
        border-right: 3px solid rgb(245, 241, 241);
        padding-right: 1.2rem;
    }

    #albums .album-content img {
        width: 40%;
        height: 42vh;
        
    }  
}

@media (min-width: 1024px){
    #albums h2 {
        font-size: 3.5rem;
        margin-bottom: 50vh;
    }

    #albums .album-content h3 {
        font-size: 2.2rem;
    }

    #albums .album-content p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #albums .album-content img {
        width: 40%;
        height: 55vh;
        
    }  
}